node_modules/
.cache/
public
src/gatsby-types.d.ts

.env.development
.env.production
.env
cypress/snapshots/**/__diff_output__/
cypress/snapshots*
cypress/downloads/
cypress/videos/
cypress/screenshots/
.unlighthouse