body.dark {
  -webkit-font-smoothing: antialiased;
  background: var(--black);
}

body.dark :is(h1, h2, h3, h4, h5, h6, p, li, a, label, input) {
  color: var(--white);
}

body.dark ul li::before {
  background: var(--white);
}

ul li:before {
  background: var(--black);
}

body.dark p code,
body.dark td code {
  background: #151515;
}

body.dark code,
body.dark pre {
  color: var(--white);
  background: transparent;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

body.dark pre {
  overflow: auto;
}

body.dark :not(pre) > code {
  white-space: normal;
}

body.dark .comment,
body.dark .prolog,
body.dark .doctype,
body.dark .cdata {
  color: #6a9955;
}

body.dark .punctuation {
  color: #d4d4d4;
}

body.dark .namespace {
  opacity: 0.7;
}

body.dark .property,
body.dark .tag,
body.dark .constant,
body.dark .symbol,
body.dark .deleted {
  color: #d19a66;
}

body.dark .boolean,
body.dark .number {
  color: #208f79;
}

body.dark .selector,
body.dark .attr-name,
body.dark .string,
body.dark .char,
body.dark .builtin,
body.dark .inserted {
  color: #ce9178;
}

body.dark .operator,
body.dark .entity,
body.dark .url,
body.dark .variable {
  color: #d4d4d4;
}

body.dark .atrule,
body.dark .attr-value,
body.dark .function {
  color: #9cdcfe;
}

body.dark .keyword {
  color: #569cd6;
}

body.dark .regex,
body.dark .important {
  color: #ce9178;
}

body.dark .bold {
  font-weight: bold;
}

body.dark .italic {
  font-style: italic;
}

body.dark .entity {
  cursor: help;
}

body.dark .markdown table tr {
  border-bottom: 1px solid #3d3d3d;
}

body.dark .markdown table tr th,
body.dark .markdown table tr td {
  border: 1px solid #3d3d3d;
  color: var(--white);
}

body.dark .markdown table tr:nth-child(2n) {
  background: #1c1c1c;
}

body.dark .markdown blockquote {
  background: #141414;
  border-left-color: #3d3d3d;
}
