body.dark {
  background: var(--black);
  color: var(--white);
}

body.dark p code,
body.dark td code {
  background: #151515;
}

body.dark .comment,
body.dark .prolog,
body.dark .doctype,
body.dark .cdata {
  color: #6a9955;
}

body.dark .punctuation {
  color: #d4d4d4;
}

body.dark .namespace {
  opacity: 0.7;
}

body.dark .property,
body.dark .tag,
body.dark .constant,
body.dark .symbol,
body.dark .deleted {
  color: #d19a66;
}

body.dark .boolean,
body.dark .number {
  color: #4b9888;
}

body.dark .selector,
body.dark .attr-name,
body.dark .string,
body.dark .char,
body.dark .builtin,
body.dark .inserted {
  color: #ce9178;
}

body.dark .operator,
body.dark .entity,
body.dark .url,
body.dark .variable {
  color: #d4d4d4;
}

body.dark .atrule,
body.dark .attr-value,
body.dark .function {
  color: #9cdcfe;
}

body.dark .keyword {
  color: #569cd6;
}

body.dark .regex,
body.dark .important {
  color: #ce9178;
}

body.dark .markdown table tr {
  border-bottom: 1px solid #3d3d3d;
}

body.dark .markdown table tr th,
body.dark .markdown table tr td {
  border: 1px solid #3d3d3d;
  color: var(--white);
}

body.dark .markdown table tr:nth-child(2n) {
  background: #1c1c1c;
}

body.dark .markdown blockquote {
  background: #242323;
  border-left-color: #3d3d3d;
}

body.dark .markdown > span {
  color: var(--white);
}

body.dark .active-link {
  color: rgb(34 197 94);
}

body.dark .active-link:hover {
  color: rgb(34 197 94);
}

body.dark .active-button-link {
  background: #15803d;
}

body.dark .active-button-link:hover {
  background: #15803d;
}
