body {
  background: var(--white);
}

body :is(h1, h2, h3, h4, h5, h6, p, li, a, label, input, i, code, pre, .katex) {
  color: var(--black);
}

p code,
td code {
  background: #e0e0e0;
}

.comment,
.prolog,
.doctype,
.cdata {
  color: #437e28;
}

.punctuation {
  color: #333;
}

.namespace {
  opacity: 0.7;
}

.property,
.tag,
.constant,
.symbol,
.deleted {
  color: #88310f;
}

.boolean,
.number {
  color: #357e70;
}

.selector,
.attr-name,
.string,
.char,
.builtin,
.inserted {
  color: #88310f;
}

.operator,
.entity,
.url,
.variable {
  color: #333;
}

.atrule,
.attr-value,
.function {
  color: #025481;
}

.keyword {
  color: #00334e;
}

.regex,
.important {
  color: #ce9178;
}

.markdown table tr {
  border-bottom: 1px solid #989898;
}

.markdown table tr th,
.markdown table tr td {
  border: 1px solid #989898;
  color: var(--black);
}

.markdown table tr:nth-child(2n) {
  background: #dcdcdc;
}

.markdown blockquote {
  background: #e7e7e7;
  border-left-color: #989898;
}

.markdown > span {
  color: var(--black);
}

body .active-link {
  color: #00501d;
}

body .active-link:hover {
  color: #00501d;
}

body .active-button-link {
  background: #15803d;
  color: #fff;
}

body .active-button-link:hover {
  background: #15803d;
  color: #fff;
}
