@tailwind base;
@tailwind utilities;
@tailwind components;

@layer components {
  .prose code::before,
  .prose code::after {
    content: '';
  }

  .prose table {
    overflow: auto;
    display: block;
  }

  .prose td {
    white-space: nowrap;
  }

  .prose a {
    overflow-wrap: break-word;
  }
}

:root {
  --white: #fff;
  --black: #000;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes lrotate {
  100% {
    transform: rotate(1turn);
  }
}

.loader {
  animation: lrotate 1s infinite linear;
}

@import './themes/dark.css';
@import './themes/light.css';
