@import '@xyflow/react/dist/base.css';

.node-tile-toolbox {
  opacity: 0;
}

.node-tile:hover .node-tile-toolbox {
  opacity: 1;
}

.react-flow__panel {
  @apply m-3 space-y-2;
}

.react-flow__controls-button {
  @apply rounded-md
    h-8
    w-8
    bg-gray-300
    text-black
    enabled:hover:bg-gray-400/70
    disabled:cursor-not-allowed
    disabled:bg-neutral-300/30
    disabled:text-black/30
    enabled:focus:outline-2
    enabled:focus:outline-black
    dark:bg-slate-800
    dark:text-white
    dark:enabled:hover:bg-slate-800/70
    dark:disabled:bg-gray-900
    dark:disabled:text-white/30
    dark:enabled:focus:outline-white;
}

.react-flow__attribution {
  @apply hidden;
}

.react-flow__minimap {
  @apply bg-slate-400 dark:bg-slate-900 m-0 rounded-tl-lg;
}
