# name: E2E

# on:
#   pull_request:
#     branches: ['develop']

# jobs:
#   build:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Checkout code
#         uses: actions/checkout@v2

#       - name: Setup Node.js
#         uses: actions/setup-node@v2

#       - name: Install Dependencies
#         run: npm install --legacy-peer-deps
#       - name: Run e2e
#         env: 
#           GATSBY_API_URL: ${{ secrets.GATSBY_API_URL }}
#           GATSBY_API_KEY: ${{ secrets.GATSBY_API_KEY }}
#           GATSBY_AUTH_DOMAIN: ${{ secrets.GATSBY_AUTH_DOMAIN }}
#           GATSBY_PROJECT_ID: ${{ secrets.GATSBY_PROJECT_ID }}
#           GATSBY_STORAGE_BUCKET: ${{ secrets.GATSBY_STORAGE_BUCKET }}
#           GATSBY_MESSAGING_SENDER_ID: ${{ secrets.GATSBY_MESSAGING_SENDER_ID }}
#           GATSBY_APP_ID: ${{ secrets.GATSBY_APP_ID }}
#           GATSBY_MEASURMENT_ID: ${{ secrets.GATSBY_MEASURMENT_ID }}
#           GATSBY_TEST_USER_EMAIL: ${{ secrets.GATSBY_TEST_USER_EMAIL }}
#           GATSBY_TEST_USER_PASSWORD: ${{ secrets.GATSBY_TEST_USER_PASSWORD }}
#         run: npm run test:e2e:ci